<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.fedoraproject.mobile">
  <application
    android:icon="@drawable/fedoraicon"
    android:label="Fedora Mobile"
    android:debuggable="true"
    android:theme="@android:style/Theme.Holo.Light">

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".StatusActivity" />

    <activity
        android:name=".PackageSearchActivity"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <meta-data
          android:name="android.app.searchable"
          android:resource="@xml/package_search" />
    </activity>
  </application>

  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-sdk android:minSdkVersion="14" />
</manifest>
