@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300|Crimson+Text:400,400italic');

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass'), url() format('woff');
}

font-face {
    font-family: 'Overpass';
    src: url('./overpass-fonts/overpass_regular-web.eot');
    src: url('./overpass-fonts/overpass_regular-web.eot?#iefix') format('eot'),
    url('./overpass-fonts/overpass_regular-web.woff') format('woff'),
    url('./overpass-fonts/overpass_regular-web.ttf') format('truetype'),
    url('./overpass-fonts/overpass_regular-web.svg#webfontLTZe4IYH') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    color: #f8f8f8;
    font-family: 'Open Sans', 'Overpass', sans-serif;
    letter-spacing: -2px;
    font-weight: 300;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e5554d;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffffff;

    a:hover {
        color: #00578E !important;
    }
}

.fm-front-header {
    background-color: #00BBFF;
    color: #f8f8f8;
    padding: 30px 0;

    h1 {
        font-size: 4em;
        font-weight: 300;
        color: #f8f8f8;
    }

    .fm-download-link {
        margin-top: 30px;
    }

    .fm-download-link a {
        font-size: 1.5em;
        color: #f8f8f8 !important;
        padding: 15px;
        border-radius: 8px;
        text-shadow: none;
        background-color: #005d7f;
        /*float: left;

        &:first-child {
            border-top-right-radius: 0 0;
            border-bottom-right-radius: 0 0;
            background-color: #005d7f;
        }

        &:last-child {
            border-top-left-radius: 0 0;
            border-bottom-left-radius: 0 0;
            background-color: #db6700;
        }*/

        &:hover {
            text-decoration: none;
        }
    }
}

.fm-push25 { margin-top: 25px; }

.section {
    padding: 100px 0;
    min-height: 300px;
    width: 100%;
    color: #f8f8f8;

    p {
        font-size: 1.4em
    }

    h1.headline {
        padding-bottom: 10px;
    }

    .darken {
        background-color: rgba(0,0,0,0.7);
        padding: 15px;
        border-radius: 8px;
    }

    p.quote {
        font-family: 'Crimson Text', Georgia, serif;
        text-align: center;
        font-size: 3.5em;
        font-style: italic;
    }

    p.attribute {
        font-family: 'Crimson Text', Georgia, serif;
        text-align: right;
        font-size: 1.5em;
        font-style: italic;
    }

    p.tldr {
        font-style: italic;
    }

    &.dark { background-color: #34495e; }

    &.light {
        background-color: #ccc;
        color: #555;
    }

    &.fm-community {
        background: black url('./images/community.jpg') fixed center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.fm-drop {
    -moz-box-shadow: 3px 3px 5px #000;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #000;
}

.fm-separator {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-size: 2em;

    &:before, &:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 2px;
        content: '\a0';
        background-color: #f8f8f8;
    }

    &:before {
        margin-left: -52%;
        text-align: right;
    }

    &:after { margin-left: 2%; }
}