<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/rsrc/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/rsrc/font-awesome/css/font-awesome.min.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="/rsrc/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link  rel="stylesheet/less" type="text/css" href="/rsrc/custom.less">
    <script src="/rsrc/less-1.4.0-beta.min.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Fedora Mobile</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="https://github.com/fedora-infra/mobile"><i class="icon-code"></i> Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{ content }}
  </body>
</html>
